.about {
  height: 882px;

  .about__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .about__pros {
    display: flex;
    .pros__item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 360px;
      height: 331px;
      border: 1px solid #d5d3d3;
      background-color: #f0f0f0;

      &:not(:last-child) {
        margin-right: 30px;
      }

      img {
        position: absolute;
        top: -55px;

        border: 2px solid #985336;
        border-radius: 50%;
        background-color: #fff;
        padding: 28px 25px 27px 31px;
      }

      .pros__title {
        color: #212121;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
      }

      .line-md {
        margin: 26px 0 34px;
        width: 97px;
        height: 2px;
        background-color: #985336;
      }

      .pros__post-title {
        text-align: center;
        max-width: 310px;
        color: #3d3d3d;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.45px;
      }
    }
  }
}
